<p>&#8230; <em>This</em> is a <strong>test.</strong><br />
&#8230;<br />
&#8230; * One<br />
&#8230; * Two<br />
&#8230; * Three<br />
&#8230;<br />
&#8230; Link to <a href="http://slashdot.org/">Slashdot</a><br />
&#8230;</p>

