<template>
  <div class="home">
    <section class="hero is-medium is-dark mb-6">
        <div class="hero-body has-text-centered">
            <p class="title mb-6">
                Welcome to Djacket
            </p>
            <p class="subtitle">
                The best jacket store online
            </p>
        </div>
    </section>

    <div class="columns is-multiline">
      <div class="column is-12">
          <h2 class="is-size-4 has-text-centered">Latest products</h2>
      </div>

      <div class="box mx-auto">
        <div class="table-container">
          <table class="table table is-hoverable">
              <thead>
                <tr>
                  <th><abbr title="Produto">Prod</abbr></th>
                  <th><abbr title="Preço">R$</abbr></th>
                  <th><abbr title="Detalhes">Det</abbr></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Total: 2 </th>
                </tr>
              </tfoot>
              <tbody>
                <tr
                  v-for="product in latestProducts"
                  v-bind:key="product.id"
                >
                  <th>{{product.name}}</th>
                  <td>R$ {{product.price}}</td>
                  <td>
                    <router-link v-bind:to="product.get_absolute_url" class="mt-4">
                      Detalhes
                    </router-link>
                  </td>
                </tr>
              </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HomeView',
  data() {
    return {
      latestProducts: []
    }
  },
  components: {
  },
  mounted() {
    this.getLatestProducts()
  },
  methods: {
    getLatestProducts(){
      axios
         .get('/api/v1/latest-products/')
         .then(response => {
          this.latestProducts = response.data
          })
          .catch(error => {
          console.log(error)
        })

    }

  }
}
</script>

<style scoped>
.image{
  margin-top: -1.25 rem;
  margin-left: -1.25 rem;
  margin-right: -1.25 rem;

}
</style>
