<template>
  <div id="wrapper">
    <!-- Início Barra Superior de Navegação -->
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item"><strong>Site do Ronie</strong></router-link>

        <a class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" @click="showMobileMenu = !showMobileMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navbar-menu" v-bind:class="{'is-active':showMobileMenu}">
        <div class="navbar-end">
          <router-link to="/about" class="navbar-item">Sobre</router-link>
          <router-link to="/winter" class="navbar-item">Winter</router-link>
          <router-link to="/cldf" class="navbar-item">CLDF</router-link>

          <div class="navbar-item">
            <div class="buttons">
              <router-link to="/log-in" class="button is-light">Log in</router-link>
              <router-link to="/cart" class="button is-success">
                <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                <span>Cart</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Final Barra Superior de Navegação -->
    <div class="columns">
        <!-- Início Barra Lateral -->
        <div class="column is-one-fifth">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a>Dashboard</a></li>
              <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a>Team Settings</a></li>
              <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members 2</a></li>
                  <router-link to="/about" class="navbar-item">Sobre</router-link>


                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li><a>Invitations</a></li>
              <li><a>Cloud Storage Environment Settings</a></li>
              <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a>Payments</a></li>
              <li><a>Transfers</a></li>
              <li><a>Balance</a></li>
            </ul>
          </aside>
          <!-- Final Barra Lateral -->
        </div>
        <div class="column">
          <!-- Início Seção Principal de todas as páginas -->
          <section class="section">
            <router-view/>
          </section>
          <!-- Final Seção Principal de todas as páginas -->
        </div>
    </div>
    <!-- Início Rodapé -->
    <footer class="footer">
      <p class="has-text-centered">Copyright (c) 2021</p>
    </footer>
    <!-- Final Rodapé -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      showMobileMenu: false,
      }
    }
  }
</script>

<style lang="scss">
  @import '../node_modules/bulma';
</style>
